
<!-- Input form -->
<form role="form" ng-submit="createIssue()">
	
	

	<div class="form-group">
		<label for="">Name</label>
		<input type="text" class="form-control" placeholder="From"
		ng-model="newIssue.name">
	</div>
	
	<div class="form-group">
		<label for="">Description</label>
		<input type="text" class="form-control" placeholder="From"
		ng-model="newIssue.description">
	</div>
	
	<div class="form-group">
		<label for="">Status</label>
		<input type="text" class="form-control" placeholder="" ng-model="newIssue.status" required="required">
	</div>

	<div class="form-group">
		<label for="">Priority</label>
		<input type="number" class="form-control" placeholder="" ng-model="newIssue.priority" required="required">
	</div>
	

	<button type="submit" class="btn btn-primary">Send</button>

	
</form>